<!DOCTYPE html>
<html>
<head>
    <title>即將需保養的零件</title>
</head>
<body>
    <h2>即將需保養的零件</h2>

    <table border="1">
        <tr>
            {% for i in range(7) %}
            <th>{{ days[i] }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for i in range(7) %}
            <td valign="top">
                {% for plane in keys[i] %}
                    Plane ID: {{ plane }}<br>
                    {% for row in schedule[i][plane] %}
                        - Parts ID: {{ row['parts_id'] }}<br>                    
                    {% endfor %}
                    <br>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>